Code/CryptoExchange/venv
Code/CryptoExchange/__pycache__

Code/f_paginated_table/.dart_tool
Code/f_paginated_table/android
Code/f_paginated_table/build
Code/f_paginated_table/ios

Projects/content-generator