[submodule ".Projects/ComfyUI"]
	path = .Projects/comfy_ui
	url = git@github.com:PrimeTimeTran/ComfyUI.git
[submodule ".Projects/ai_pokemon"]
	path = .Projects/ai_pokemon
	url = git@github.com:PrimeTimeTran/ai_PokemonRedExperiments.git
[submodule ".Projects/compiler"]
	path = .Projects/compiler
	url = git@github.com:PrimeTimeTran/compiler.git
