academictorrents
aiohttp==3.9.5
albumentations==0.4.3
einops==0.3.0
ftfy==6.2.0
GitPython==3.1.43
imageio_ffmpeg==0.4.2
ipython==8.12.3
ipywidgets==8.1.2
kornia==0.7.2
matrix_client==0.4.0
mmcv==2.2.0
mmdet==3.3.0
natsort==8.4.0
numpy==1.24.4
omegaconf==2.1.1
onnxruntime==1.18.0
opencv_python==4.9.0.80
opencv_python_headless==4.9.0.80
packaging==24.0
piexif==1.1.3
Pillow==10.3.0
protobuf==5.27.1
psutil==5.9.5
pudb==2019.2
pycocotools==2.0.7
pygit2==1.15.0
PyGithub==2.3.0
pytest==7.4.0
pytorch_lightning
PyYAML==6.0.1
regex==2024.5.15
Requests==2.32.3
rich==13.7.1
safetensors==0.4.3
scann==1.3.2
scipy==1.9.3
segment_anything==1.0
setuptools==69.5.1
spandrel==0.3.4
spandrel_extra_arches==0.1.1
torch==2.3.1+cu121
torch_directml==0.2.1.dev240521
torchsde==0.2.6
torchvision==0.18.1+cu121
tqdm==4.66.4
transformers==4.41.2
typer==0.12.3
typing_extensions==4.12.1
websocket_client==1.8.0
xformers==0.0.26.post1
